.search {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin: 0rem;
        padding: .75rem;

        li {
            list-style-type: none;
            background-color: white;
            border-radius: 0.5rem;
            padding: 10px;

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            h2, p {
                margin-top: .25rem;
                margin-bottom: 0rem;
                font-size: medium;
            }

            p {
                color: #5e5e5e;
                font-size: small;
            }

            &:hover {
                opacity: 0.3;
                background-color: #eeeeee;
                transition-duration: .3s;
                transform: translateY(-0.35rem);
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -2px rgba(0, 0, 0, 0.2);
            }
        }
    }
}
