.card {
  width: 200px;
  position: relative;
  list-style-type: none;
  background-color: var(--gy-bg-card);

  h2,
  p {
    padding: 0rem .25rem;
    margin-top: 0rem;
    margin-bottom: .35rem;
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  button {
    opacity: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: .5rem;
    color: var(--gy-text-btn-action);
    border-style: solid;
    border-width: 1px;
    border-color: var(--gy-bg-btn-rounded-hover);
    background-color: var(--gy-bg-btn-action);
    transform: translate(-50%, -50%);
    
    svg {
      width: 2.25rem;
      height: 2.25rem;
      margin-top: .5rem;
    }
    
    &:hover {
      background-color: var(--gy-bg-btn-action-hover);
      box-shadow: 0 4px 6px -1px var(--gy-bg-btn-light-shadow), 0 2px 4px -2px var(--gy-bg-btn-light-shadow);
      -ms-transform: translate(-50%, -50%);
    }
  }

  &:hover {
    transition-duration: .3s;
    box-shadow: 0 4px 6px -1px var(--gy-bg-btn-light-shadow), 0 2px 4px -2px var(--gy-bg-btn-light-shadow);

    section {
      opacity: .085;
      background-color: var(--gy-bg-btn-action-hover);
    }

    button {
      opacity: 1;
    }
  }
}