$gap: .75rem;

.container {
  display: flex;
  flex-grow: 1;
  gap: $gap;
  padding: 0rem;
  justify-content: center;

  ul {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: $gap;
    padding: 0rem;
    margin: 0rem;
  }
}
