.pagination {
  display: flex;
  gap: .75rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;

  p {
    margin: 0rem;
  }

  button {
    border: none;
    border-radius: .5rem;
    background-color: var(--gy-bg-btn-action);

    &:active {
      background-color: var(--gy-bg-btn-action-hover);
    }

    svg {
      width: 1rem;
      height: 1rem;
      padding: .35rem .05rem .2rem .05rem;
    }
  }
}