.savedNavbar {
  padding: .85rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gy-bg-navbar);

  button {
    font-weight: 600;
    font-size: .85rem;
    color: var(--gy-text-navbar);
    background: linear-gradient(45deg, var(--gy-text-navbar-dark) 0%, var(--gy-text-navbar-action) 100%);
    padding: .75rem 1.5rem;

    &:hover {
      background: linear-gradient(0deg, var(--gy-text-navbar-dark), var(--gy-text-navbar-action) 100%);
      color: var(--gy-text-btn-rounded-hover);
    }
  }

  h2 {
    color: var(--gy-text-navbar);
    text-align: center;
    font-size: medium;
    margin: 0rem;
  }
}