:root {
  --gy-text-primary: #000000;
  --gy-text-secondary: #9b9b9b;
  --gy-text-btn-rounded-hover: #f7f7f7;
  --gy-text-btn-action: red;

  --gy-bg-primary: #dbdbdb;
  --gy-bg-navbar: white;
  --gy-bg-card: white;
  --gy-bg-btn-rounded-hover: #9b9b9b;
  --gy-bg-btn-action: white;
  --gy-bg-btn-action-hover: #eeeeee;

  --gy-bg-btn-light-shadow: rgba(0, 0, 0, 0.25);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gy-bg-primary);
}

h1,
h2,
p {
  margin-top: .25rem;
  margin-bottom: 0rem;
  font-size: medium;
}

li {
  list-style-type: none;
}

p {
  color: var(--gy-bg-secondary);
  font-size: small;
}

input,
button {
  border-radius: 2rem;
  border: none;
}

input {
  background-color: var(--gy-bg-primary);
  padding: .75rem 2.25rem;
}

// Common styles
.input-group {
  svg {
    color: var(--gy-text-secondary);
    position: absolute;
    margin-top: .6rem;
    margin-left: .55rem;
    width: 1.25rem;
    height: 1.25rem;
  }
}

.navbar,
.pagination {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.navbar {
  padding: .85rem;
  background-color: var(--gy-bg-navbar);
}

.navbar-center {
  justify-content: center;
}

.navbar-justify {
  justify-content: space-between;
}

.btn-rounded {
  padding: .75rem 1.5rem;

  &:hover {
    background-color: var(--gy-bg-btn-rounded-hover);
    color: var(--gy-text-btn-rounded-hover);
  }
}

.gif-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 0rem;
  padding: .75rem;

  li {
    position: relative;

    section.gif-card {
      background-color: var(--gy-bg-card);
      border-radius: .5rem;
      padding: .5rem;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    button {
      opacity: 0;
      top: 50%;
      left: 50%;
      width: 3.5rem;
      height: 3.5rem;
      border: none;
      color: var(--gy-text-btn-action);
      position: absolute;
      border-radius: .5rem;
      background-color: var(--gy-bg-btn-action);
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);

      &:active {
        background-color: var(--gy-bg-btn-action-hover);
      }
    }

    &:hover {
      transition-duration: .3s;
      transform: translateY(-0.35rem);

      section.gif-card {
        opacity: 0.3;
        background-color: #eeeeee;
        box-shadow: 0 4px 6px -1px var(--gy-bg-btn-light-shadow), 0 2px 4px -2px var(--gy-bg-btn-light-shadow);
      }

      button {
        opacity: 1;
      }
    }
  }
}

.loader {
  padding-top: 2rem;
  text-align: center;
}

.pagination {
  padding-left: 1rem;
  padding-top: .75rem;

  button {
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .5rem;
    background-color: var(--gy-bg-btn-action);

    &:active {
      background-color: var(--gy-bg-btn-action-hover);
    }
  }
}